.window {
    border: 3px;
    border-color: black;
}

.header {
    width: 100%;
    height: 10%;
    background-color: lavender;
    align-items: center;
    vertical-align: center;
}

.right {
    width: 70%;
}

.sidebar {
    height: 100%;
    width: 30%;
    background-color: rgb(206, 206, 248);
    border-right: 3px black;
}

.disappear {
    height: 0px;
}

.top {
    height: 10%;
    width: 100%;
    background-color: red;
}

.topics{
    height: 100%;
    background-color: rgb(205, 196, 247);
    border-right: 3px black;
}

.chatWindow {
    width: 100%;
    height: 100%;
    background-color:white;
}

.chatBox {
    width: '85%';
    background-color: yellow;
}

.button {
    width: '15%';
}

.footer {
    height: 0px;
    background-color: red;
}